<div class="app-wrapper">
  <canvas #rendererCanvas></canvas>

  <button
    mat-icon-button
    [matTooltip]="tooltipText"
    matTooltipClass="custom-tooltip"
    class="info-button"
  >
    <mat-icon>info_outline</mat-icon>
  </button>
  
  <button
    mat-icon-button
    (click)="onAddNode()"
    [matTooltip]="'Add Node'"
    class="add-node-button"
  >
    <mat-icon>add</mat-icon>
  </button>

  <div class="camera-controls">
    <!-- <div class="rotate-zoom-box"> -->
    <!-- Rotate Group -->
    <!-- <div class="internal-flex"> -->
    <button mat-icon-button (click)="rotateLeft()" matTooltip="Rotate Left">
      <mat-icon>rotate_left</mat-icon>
    </button>
    <button mat-icon-button (click)="rotateRight()" matTooltip="Rotate Right">
      <mat-icon>rotate_right</mat-icon>
    </button>
    <!-- </div>
      <div class="internal-flex"> -->
    <!-- Zoom -->
    <button mat-icon-button (click)="zoomIn()" matTooltip="Zoom In">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button (click)="zoomOut()" matTooltip="Zoom Out">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <!-- </div>
    </div> -->

    <!-- <div class="pan-box">
      <div class="internal-flex"> -->
    <!-- Pan -->
    <button mat-icon-button (click)="panUp()" matTooltip="Pan Up">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button (click)="panDown()" matTooltip="Pan Down">
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <!-- </div>
      <div class="internal-flex"> -->
    <button mat-icon-button (click)="panLeft()" matTooltip="Pan Left">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button (click)="panRight()" matTooltip="Pan Right">
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <!-- </div>
    </div> -->

    <button
      mat-icon-button
      class="lock-camera-button"
      (click)="toggleCameraLock()"
      [matTooltip]="isCameraLocked ? 'Unlock Camera' : 'Lock Camera'"
    >
      <mat-icon>{{ isCameraLocked ? "lock" : "lock_open" }}</mat-icon>
    </button>
  </div>

  <div #contextMenu class="context-menu">
    <h4 id="contextNodeName"></h4>
    <div class="context-actions">
      <button (click)="onSetAsSun()" style="margin: 0 8px 0 0px">
        Set as Central
      </button>
      <button
        (click)="onRemoveNode()"
        [disabled]="selectedNode?.isSun"
        [ngClass]="{ 'disabled-button': selectedNode?.isSun }"
      >
        Remove
      </button>
    </div>

    <!-- Dynamic Panel: Preferences for Central or Attributes for Non-Central -->
    <div *ngIf="selectedNode">
      <!-- Preferences Panel for Central Node -->
      <div *ngIf="selectedNode.isSun" class="panel">
        <div
          *ngFor="
            let pref of selectedNode.preferences;
            let i = index;
            trackBy: trackByIndex
          "
          class="attribute-list"
        >
          <label>
            Preference {{ i + 1 }}:
            <input
              type="range"
              min="0"
              max="100"
              [(ngModel)]="selectedNode.preferences[i]"
              (ngModelChange)="onPreferenceChange(i, $event)"
            />
            <span>{{ selectedNode.preferences[i] }}</span>
          </label>
        </div>
      </div>

      <!-- Attributes Panel for Non-Central Nodes -->
      <div *ngIf="!selectedNode.isSun" class="panel">
        <div
          *ngFor="
            let attr of selectedNode.attributes;
            let i = index;
            trackBy: trackByIndex
          "
          class="attribute-list"
        >
          <label>
            Attribute {{ i + 1 }}:
            <input
              type="range"
              min="0"
              max="100"
              [(ngModel)]="selectedNode.attributes[i]"
              (ngModelChange)="onAttributeChange(i, $event)"
            />
            <span>{{ selectedNode.attributes[i] }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
